<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script>
    function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "{{ node_address }}/miner", false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
    </script>
	<br>

	<br>
    <div class="text-center">
	<a href="/"><button type="button" class="btn btn-success" onclick="httpGet()">Zarządaj wykopania i odśwież stronę</button></a>
    </div>
{#	<button type="button" class="btn btn-success">Resync</button>#}

	<div style="margin: 20px;">

    {% for post in posts %}
    <div class="padding-example-2">
    <div class="card" >
      <div class="card-header">{{readable_time(post.timestamp)}}</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            {{post.Description}}
          </p>
            <p>Kwota: {{post.Money}}</p>
          <footer class="blockquote-footer">
            {{post.Organisation}}
          </footer>
        </blockquote>
      </div>
    </div>
    </div>
	{% endfor %}

	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}


		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>

    </div>
{% endblock %}
